
/* istruzioni testo */
.txt-center {
  text-align: center;
  padding: 10px;
}
h3 , p {
  margin: 10px;
}
/* /istruzioni testo */


 /* immagini */
#maps {
  width: 40%;
}

#screen {
  width: 65%;
}

.img-line {
  width: 200px;
}

.lightgray {
  background-color: lightgray;
}

.img-radius {
  width: 250px;
  border-radius: 50%;
  padding: 20px;
  background-color: #428bca;
}
/*/ immagini */

/* risoluzione dispositivi tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {

  hr {
    display: none;
  }

  .img-radius {
    width: 125px;
    border-radius: 50%;
    padding: 10px;
    background-color: #428bca;
  }

}
/* /risoluzione dispositivi tablet */

/* risoluzione dispositivi mobile */
@media screen and (max-width: 767px) {
  /* sfondo giallo */
  header {
    background-color: #f2f2cd;
  }

  footer.lightgray {
    background-color: #f2f2cd;
  }
  /* /sfondo giallo */
  /* immagini  */
  #maps {
    width: 30%;
  }

  #screen {
    width: 35%;
  }

  .img-line {
    width: 100px;
  }

  .img-radius {
    width: 125px;
    border-radius: 50%;
    padding: 10px;
    background-color: #428bca;
  }
  /* /immagini  */

}
/*/ risoluzione dispositivi mobile */
